@import "../components/colors.css";

#heading {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

#join-quiz{
  display: flex;
  justify-content: center;
  /* width: 70%; */
  
}
#join-quiz-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 150px;
  width: 70%;
  padding: 40px 0px;
  background-color:rgb(209, 59, 255);
  border-radius: 40px;

}
/* label{
  font-size: xx-large;
  color: #404A5E;
} */
#q-code {
  width: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 10px;
  /* transition: width 0.8s ease-in-out; */
  border: 2px solid #404A5E;
}
#q-code:focus{
    /* width: 500px; */
    outline: none;
    text-align: center;
    font-weight: 500;
    border-color: var(--accent-pink);
    color: var(--secondary);
}
.join-button{
  padding: 9px 20px;
  border: 1px solid #caffff;
  background-color: #caffff;
  color: rgb(209, 59, 255);
  font-weight: bold;
  font-size: 1.125rem;
margin: 10px;
width: 200px;

}
.join-button:hover{
  background-color: #aafbfb;
  cursor: pointer;
}
@media (max-width: 768px) {
  #q-code{
    width: 300px;
  }
  #q-code:focus{
    width: 350px;
  }
}