@import "../components/colors.css";

#dashboard-content {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e1ffff;
	background-image: url(http://www.transparenttextures.com/patterns/gplay.png);
	
}
.one-time-dashboard {
	/* height: 100vh; */
}
.dash-btns {
	/* flex: 1; */
	/* margin-left: 140px; */
	width: 70%;
	display: flex;
	text-align: left;
	flex-direction: column;
	align-content: space-between;
	align-items: center;
	background-color: rgb(209, 59, 255);
	justify-content: center;
	border-radius: 40px;
	padding: 50px 0px;
}
@media (max-width: 500px) {
	.dash-btns {
		margin-top: 130px;
		margin-left: 0px;
	}
}
.blob-svg {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
}
.one-time-button{
    padding: 9px 20px;
    border: 1px solid #caffff;
    background-color: #caffff;
    color: rgb(209, 59, 255);
    font-weight: bold;
    font-size: 1.125rem;
	margin: 10px;
	width: 150px;

}
.one-time-button:hover{
    background-color: #aafbfb;
    cursor: pointer;
}

.wlcm-msg {
	color: var(--primary);
	font-size: 35px;
	font-weight: 500;
	margin: 40px 0px;
}
@media (max-width: 768px) {
	#dashboard-content {
		flex-flow: column;
		justify-content: center;
	}
}
